<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% if (env === "production") { %>
    <link rel="stylesheet" href="/public/css/book.css">
    <% } %>
</head>
<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="total-container">
        <div class="first-note">This is book.</div>
        <br>
        <div id="draw" class="image-example-page1"></div>
        <div>

        </div>
    </div>

    <script src="common.js"></script>
    <script src="/public/js/book.js"></script>
    <% if (env !== "production" && reload === true) { %>
        <script src="/reload/reload.js"></script>
    <% } %>
</body>
</html>
